
<div class="hero-unit">
<h1>An example gallery</h1>
<p>We shall see how the layout looks now!"</p>
</div>

<div class="row">
<div class="span10">
<div class="alert">
 <a class="close" data-dismiss="alert">×</a>
 <strong>ALERT!</strong> - there are errors that can be shown and CLOSED!
</div>
<div class="alert alert-info">
 <a class="close" data-dismiss="alert">×</a>
 <strong>IMPORTANT!</strong> - then there are information boxes in blue but they can still be CLOSED!
</div>

<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
     <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>

  <li class="span3">
    <a href="#" class="thumbnail">
     <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>

  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
</ul>


<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>

  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>

  <li class="span3">
    <a href="#" class="thumbnail">
     <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
</ul>

</div>

</div>
<%= link_to 'New', new_image_path, :class => 'btn btn-primary' %>
